---
version: 2

multi-ecosystem-groups:
  uipath:
    schedule:
      interval: "cron"
      cronjob: "0 2 * * *"

registries:
  mzwkossalpweacr:
    type: docker-registry
    url: mzwkossalpweacr.azurecr.io
    username: ${{ secrets.MZWKOS_CLIENT_ID }}
    password: ${{ secrets.MZWKOS_ACCESS_KEY }}
updates:
  - package-ecosystem: "docker"
    registries:
      - mzwkossalpweacr
    directories: 
      - "/TestDockerFiles"
      - "/TestDockerFiles/admctl-webhook"
      - "/TestDockerFiles/cert-injector-webhook"
      - "/TestDockerFiles/cert-injector-webhook/cert-trustor/debian"
      - "/TestDockerFiles/cert-injector-webhook/cert-trustor/rhel"
    patterns: ["*"]
    multi-ecosystem-group: "uipath"
  - package-ecosystem: "pip"
    directory: "/TestDockerFiles"
    patterns: ["*"]
    multi-ecosystem-group: "uipath"
  - package-ecosystem: "gomod"
    directories:
      - "/TestDockerFiles/admctl-webhook"
      - "/TestDockerFiles/cert-injector-webhook"
    patterns: ["*"]
    multi-ecosystem-group: "uipath"
