---
version: 2

multi-ecosystem-groups:
  uipath:
    schedule:
      interval: "cron"
      cronjob: "*/5 * * * *"

registries:
  sfbrdevhelmweacr:
    type: docker-registry
    url: sfbrdevhelmweacr.azurecr.io
    username: sfbrdevhelmweacr
    password: ${{ secrets.SFBRDEV_ACCESS_KEY }}
updates:
  - package-ecosystem: "docker"
    registries:
      - sfbrdevhelmweacr
    directory: "/TestDockerFiles"
    patterns: ["*"]
    multi-ecosystem-group: "uipath"
  - package-ecosystem: "pip"
    directory: "/TestDockerFiles"
    patterns: ["*"]
    multi-ecosystem-group: "uipath"
  - package-ecosystem: "gomod"
    directory: "/TestDockerFiles"
    patterns: ["*"]
    multi-ecosystem-group: "uipath"
