---
version: 2

multi-ecosystem-groups:
  uipath:
    schedule:
      interval: "cron"
      cronjob: "0 17 * * *"

registries:
  sfbrdevhelmweacr:
    type: docker-registry
    url: sfbrdevhelmweacr.azurecr.io
    username: ${{ secrets.SFBRDEV_CLIENT_ID }}
    password: ${{ secrets.SFBRDEV_ACCESS_KEY }}
updates:
  - package-ecosystem: "docker"
    registries:
      - sfbrdevhelmweacr
    directories: 
      - "/TestDockerFiles"
      - "/TestDockerFiles/admctl-webhook"
      - "/TestDockerFiles/cert-injector-webhook"
      - "/TestDockerFiles/cert-injector-webhook/cert-trustor/debian"
      - "/TestDockerFiles/cert-injector-webhook/cert-trustor/rhel"
    schedule:
      interval: "cron"
      cronjob: "0 17 * * *"
  - package-ecosystem: "pip"
    directory: "/TestDockerFiles"
    patterns: ["*"]
    multi-ecosystem-group: "uipath"
  - package-ecosystem: "gomod"
    directories:
      - "/TestDockerFiles/admctl-webhook"
      - "/TestDockerFiles/cert-injector-webhook"
    patterns: ["*"]
    multi-ecosystem-group: "uipath"
