---
version: 2

registries:
  sfbrdevhelmweacr:
    type: docker-registry
    url: sfbrdevhelmweacr.azurecr.io
    username: sfbrdevhelmweacr
    password: ${{ secrets.SFBRDEV_ACCESS_KEY }}
updates:
  - package-ecosystem: "docker"
    registries:
      - sfbrdevhelmweacr
    directory: "/TestDockerFiles"
    schedule:
      interval: "cron"
      cronjob: "0 17 * * *"
  - package-ecosystem: "pip"
    directory: "/TestDockerFiles"
    schedule:
      interval: "cron"
      cronjob: "0 17 * * *"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: npm
    directory: "/javascript"
    schedule:
      interval: "weekly"
  - package-ecosystem: bundler
    directory: "/ruby"
    schedule:
      interval: "weekly"
