apiVersion: v1
kind: ConfigMap
metadata:
  name: certificate-initializer-injector-configmap
  namespace: default
  annotations:
    helm.sh/hook: pre-install
    helm.sh/hook-weight: "-1002"
data:
  cert-initializer-injector-config.yaml: |
    initContainers:
    - name: cert-trustor
      image: localcruipath.azurecr.io/cert-trustor:latest
      env:
      - name: CERT_PATH
        value: /etc/webhook/certs/tls.crt
      volumeMounts:
      - mountPath: /etc/webhook/certs
        name: domain-cert-config
    volumes:
    - name: domain-cert-config
      secret:
        secretName: certificate-initializer-injector-webhook-certs
    - name: cert-trust-store
      emptyDir: {}
    volumeMounts:
    - mountPath: /etc/ssl/certs
      name: cert-trust-store
      readOnly: false